<%= form_for([@circuit, @circuit.circuit_legs.build]) do |f| %>
  <div class="field">
    <%= f.label :link_id %><br />
    <%= f.collection_select :link_id, @available_links,
                            :id, :summary_link,
                            :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
