<%= form_for([@link, @link.link_legs.build]) do |f| %>
  <div class="field">
    <%= f.label :circuit_id %><br />
    <%= f.collection_select :circuit_id, @available_circuits,
                            :id, :reference,
                            :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
