<!DOCTYPE html>
<html>
<head>
  <title>Cables</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min", "rails", "highcharts", "exporting" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
